@charset "utf-8";

/* 레이아웃 */
#header {height: 150px; background: #222 center top repeat-x;}
#contents {height: 750px; background: #333;}
#footer {height: 100px;background: #444; color: #fff;}

/* 컨텐츠 레이아웃 */
#cont_nav {background-color: #f6fdff;}
#cont_title {background-color: #eaf7fd;}
#cont_banner {background-color: #dceff7;}
#cont_contents {background-color: #f6fdff;}

/* 컨테이너 */
.container {width: 990px; margin: 0 auto; height: inherit; background: rgba(255, 255, 255, 0.3); }

/* 헤더 */

.header .header-menu {text-align: right;}
.header .header-menu a {color: #fff; padding: 10px 0px 10px 13px; display: inline-block;}
.header .header-menu a:hover {color: #666;}
.header .header-title {text-align: center; }
.header .header-title h1 {background-color: #4aa8d4; font-size: 28px; padding: 5px 20px 6px 20px; display: inline-block; color: #fff; margin-top: 40px; font-weight: normal; text-transform:uppercase; }
.header .header-title a {display: inline-block; background-color: #2698cb; font-size: 18px; color: #fff; padding: 5px 20px 6px 20px; margin-top: -5px;}

.header .header-icon {text-align: center; margin: 30px;}
.header .header-icon a {width: 60px; height: 60px; display: inline-block; background: #222; margin: 0 3px;}
.header .header-icon a.icon1 {background-position: 0 0;}
.header .header-icon a.icon2 {background-position: 0 -60px;}
.header .header-icon a.icon3 {background-position: 0 -120px;}
.header .header-icon a.icon4 {background-position: 0 -180px;}
.header .header-icon a.icon1:hover {background-position: -60px 0;}
.header .header-icon a.icon2:hover {background-position: -60px -60px;}
.header .header-icon a.icon3:hover {background-position: -60px -120px;}
.header .header-icon a.icon4:hover {background-position: -60px -180px;}

/* 로그인 폼 */
.login {padding-top: 50px; border-color: #111;}
.login h3 {background-color: #4aa8d4; font-size: 28px; color: #fff; font-weight: normal;  }
